body {
    font: 15px/1.5 Arial, Halvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/*Global*/
.container{
    padding: 20px;
    width:1150px;
    margin:auto;
    overflow: hidden;
}


/*Header*/
.header{
    background: #ffffff;
    margin-top: 20px;
    padding-top: 30px;
    min-height: 70px;

}

header a{
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #logo{
    float: left;
}

header #logo h1{
    margin: 0;
}

header nav{
    float: right;
    margin-top: 10px;
}

header .current a{
    color: #b2b226;
    font-weight: bold;
}

header a:hover{
    color: #cccccc;
    font-weight: bold;
}

#mcolor{
    background-color: yellowgreen;
    margin-right: 80%;
    padding-left: 4%;
}


/* Home Hero Section */
#home-hero{
    min-height: 280px;
    background: url(/images/Taxi_img.jpg) no-repeat 0 -200px;
    background-position: center;
    text-align: center;
    color: #ffffff;
}

#footerimage{
    min-height: 200px;
    background: url(/images/English-TaxisHP.jpg) no-repeat 0 -200px;
    background-position: center;
    text-align: center;
    color: #ffffff;
    background-size:cover;
    margin-bottom: -20px;
}

#home-hero h1{
    margin-top: 10px;
    font-size: 50px;
    margin-bottom: 100px
    
}

/* Services */
#bnow{
    background-color: rgba(255,193,7,.5);
    margin-right: 51%;
    padding-left: 4%;
    font-size: 32px;
}

#services .serviceMo{
    width: 26%;
    padding: 1%;
    text-align: center;
    float: left;
    
}

#services .serviceMa{
    width: 26%;
    padding: 1%;
    text-align: center;
    float: left;
    
}

#services .serviceBa{
    width: 26%;
    padding: 1%;
    text-align: center;
    float: left;
    
}

#images .mobile{
    height: 100px;
    width: 50px;
    background: url(/images/single%20touch.jpg) no-repeat 0 -200px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 10% 40%;
    margin-left: 15%;
    margin-right: 0;

}

#images .map{
    height: 100px;
    width: 50px;
    background: url(/images/anywhere.jpg) no-repeat 0 -200px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 20% -30%;
    margin-left: 40%;
    margin-right: auto  
}

#images .bank{
    height: 100px;
    width: 50px;
    background: url(/images/piggy-bank-icon.png) no-repeat 0 -200px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 10% -40%;
    margin-left: 72%;
    margin-right: auto  
}

#map-fare .map{
    height: 133px;
    width: 504px;
    background: url(/images/map.jpg) no-repeat 0 -200px;  
    background-size: contain;
    background-position: 10% 0%;
    margin-left:50%;
    margin-top:-11%;
    padding: 3px;
}

#services .M1{
    margin-top:0%;
    text-align: left;
    background-position: 10% 10%;
    
}

#services .M2{
    margin-top:0%;
}

#services .M3{
    margin-top:0%;
}

h5{
    color:darkgray;
    margin:-3px;
    margin-left:1px;
}

h3{
    color:goldenrod;
}

#images{
    display: inline-block;
    margin-top:10%;
}

.login-form{
    width: 360px;
    margin:auto;
}

.login{
    position:relative;
    z-index: 1;
    background: rgba(7, 40, 195, 0.8);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}

/* Footer */
footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #000000;
    text-align: left;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

footer ul{
    margin: 0;
    padding: 0;
}

footer li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

footer #copyright{
    float: left;
}

footer #copyright p{
    margin: 0;
}

footer nav{
    float: right;
    margin-top: 10px;
}

/* Ride Page */
#ride-text{
    text-align: center;
    color: goldenrod;
}
#bdetails{
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 30px;
}

/* Help Hero Section */
.row2 {
    width: 50%;
    float: left;
}

#searchhelp{
    float:right;
}

#help-hero{
    min-height: 200px;
    background: url(/images/AskingForHelp.jpg) no-repeat 0 -200px;
    background-position: top;
    text-align: left;
    color: #ffffff;
}

#help-hero h3{
    margin-top: 10px;
    font-size: 25px;
    color: black;
    
}

#help .help{
    float: left;
    width: 45%;
    padding: 15px;
    text-align: left;
}

#help h3{
    color: black;
}

#help button {
    background-color: goldenrod;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

/* Dashboard Page */

#page-title{
    text-align: center;
    font-size: 20px;
}

#page-content h3{
    margin-right: auto;
}
#page-content textarea{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#page-content .textarea{
    float: left;
    padding: 15px;
    text-align: left;
}
#form{
	width: 30%;
	float: left;
    margin-top: 15%;
}

#map{
    height: 400px;
    width: 70%;
    background-color: grey;  
    background-size: contain;
    float: right;
    
}

.DashTitle{
    margin-left:40%;
}

.DashF1{
	background: black;
	width: 20%;
	padding: 1%;
	float: left;
	margin: 1%;
}

.DashF1 p{
    color: blue;
}

.DashF2{
    background: black;
	width: 26%;
	padding: 1%;
	float: left;
	margin: 1%;
}

.DashF2 p{
    color: blue;
}

.Members{
    background: black;
	width: 26%;
	padding: 1%;
	float: left;
	margin: 1%;
}

.Members p{
    color: blue;
}

#after_submit{
    margin-left: 40%;
}

.ContactInfo{
    text-align:center;
    margin-left: 10%
}
@media screen and (max-width:1149px) {
    .container{
    width:80%;
}
.DashF1{
	width: 20%;
}

.DashF2{
	width: 26%;
}

.Members{
	width: 26%;
}
}
@media screen and (max-width:1110px) {
    .container{
    width:80%;
}
.DashF1{
	width: 80%;
}

.DashF2{
	width: 40%;
}

.Members{
	width: 40%;
}
}
@media screen and (max-width:750px) {
    .container{
    width:80%;
}
.DashF1{
	width: 80%;
}

.DashF2{
	width: 80%;
}

.Members{
	width: 80%;
}
#services .serviceMo{
    width: 80%;
}

#services .serviceMa{
    width: 80%; 
}

#services .serviceBa{
    width: 80%;
}
#map {
	width: 80%;
	float:left;
}
#form {
	width: 80%;
}
#home-hero {
	width: 80%;
}
#after_submit{
	width: 80%;
	margin-left:0%;
}
.ContactInfo {
	width: 80%;
    text-align: left;
    margin-left: 0%;
}
}
@media screen and (max-width:480px) {
    .container{
    width:384px;
}
}
